:root {
    --header-font: 'Lora', serif;
    --header-color: #5F2D39;
    --paragraph-font: 'Source Sans Pro', sans-serif;
    --paragraph-color: #434343;
    --link-hover-color: #53a5ed;
    --cream-color: #f3d5c1;
    --page-height: 100%;
}

.padding-left-zero {
    padding-left: 0 !important;
}

.padding-right-zero {
    padding-right: 0 !important;
}

.full-height-vh {
    height: 100vh;
}

.full-height-percent {
    height: var(--page-height);
}

.scroll {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--header-color);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    background-image: url("./assets/BG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

body h1 {
  font-family: var(--header-font);
  color: var(--header-color);
}

body h2 {
  font-family: var(--header-font);
  color: var(--header-color);
}