.padding-left-zero {
    padding-left: 0 !important;
}

.full-height-vh {
    height: 100vh;
}

.full-height-percent {
    height: 100%;
}

.scroll {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
  
    /** background image */
    background-image: url("./assets/BG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }